@tailwind base;
@tailwind components;
@tailwind utilities;

/* variable */
:root {
  --base-color: #d39121;
  --medium-gray: #8d8987;
  --black: #282725;
  --dark-gray: #383632;
  --red: #d51f0f;
  --green: #46b57e;
  --very-light-gray: #f9f6f3;
  --yellow: #ecba23;
  --alt-font: "Bebas Neue", cursive;
  --primary-font: "Schibsted Grotesk", sans-serif;
}

/* Custom base styles */
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bebas text-gray-900 tracking-wider;
  }

  h1 {
    @apply text-5xl md:text-6xl lg:text-8xl font-extrabold whitespace-pre-line;
  }

  h2 {
    @apply font-bebas lg:text-6xl text-dark-900 tracking-wider;
  }

  h3 {
    @apply text-xl font-semibold uppercase tracking-wider;
  }

  p {
    @apply text-gray-500;
  }

  a {
    @apply font-bebas tracking-wider transition-colors duration-300 text-dark-900 hover:text-dark-500;
  }

  a.active {
    @apply text-primary;
  }
}

@keyframes ken-burns {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.animate-ken-burns {
  animation: ken-burns 20s infinite ease-in-out;
}
